
@model ApplicationsSummaryModel
@using INZFS.MVC.ViewModels
@using INZFS.MVC.Models
@using INZFS.MVC.TagHelpers


@{
    ViewBag.Title = "Standings";
    var list = @Model.CompanyDetails.ToList();
}

@foreach (var x in list)
{
<div>
    <p>@x.CompanyName</p>
    <p>@x.CompanyNumber</p>
</div>
}
